.link{
    padding: 20px;
    color: red;
    font-size: 25px;
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.link:hover{
    font-weight: 500;
    text-decoration: underline;
}

nav{
    padding-top: 50px;
}